MINIO_ROOT_USER={{ minio_root_user }}
MINIO_ROOT_PASSWORD={{ minio_root_pwd }}
MINIO_SERVER_URL=http://{{ hostvars[groups['minio_nodes'][0]].ansible_host }}:{{ minio_server_port }}
MINIO_OPTS="--address :{{ minio_server_port }} --console-address :{{ minio_console_port }}"