MINIO_ROOT_USER={{ minio_root_user }}
MINIO_ROOT_PASSWORD={{ minio_root_pwd }}
MINIO_SERVER_URL=http://{{ ansible_hostname }}:{{ minio_server_port }}
MINIO_OPTS="--address :{{ minio_server_port }} --console-address :{{ minio_console_port }}"